altair
beautifulsoup4
duckdb
feature-engine
ipywidgets
jupyterlab
jupysql
keras
matplotlib
numpy
openpyxl
pandas
plotnine
polars
pyodbc
requests
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
tensorflow
vega-datasets